# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=anosay_db

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=anosay_db

# JWT
JWT_SECRET=change_this_to_a_long_random_string